<!DOCTYPE html>

<html>

<head>
   {{>style}}
</head>

<div style="margin:100px;">
     {{>header}}
    <div class="jumbotron"  style="padding:40px;">
      <h1>{{title}}</h1>
      <p>
        <h3>Frequently Asked Questions:</h3> <br>
        <h5>1.) How does the scoring system work?</h5>
        The scoring system is derived from the ELO ranking algorithm,
        which is used to rank professional chess players. The amount of points you win or lose 
        is based on the level of your opponent. For more information, research the ELO rating method.
        <br><br>
        <h5>2.) How accurate is the scoring system?</h5>
        Like any other ranking system, the more you compete the more accurate 
        your score will be. 
        <br><br>
        <h5>3.)What can I do if someone is cheating?</h5>
        After every match you can always review your opponent on a star system from 1-5. 
        For serious infractions please email igor.tanv@gmail.com

      </p>
    </div>
  </div>

</html>