<!DOCTYPE html>

<html>

<head>
  
</head>

<body>

  <div style="margin:100px;">
    <div class="jumbotron"  style="padding:40px;">
      <h1>About</h1>
      <p>
        <h3>Frequently Asked Questions:</h3> <br>
        <h5>1.) How does the scoring system work?</h5>
        The scoring system is derived from the ELO ranking algorithm,
        which is used to rank professional chess players. The amount of points you win or lose 
        is based on the level of your opponent. For more information, research the ELO rating method.
        <br><br>
        <h5>2.) How accurate is the scoring system?</h5>
        Like any other ranking system, the more you compete the more accurate 
        your score will be. 
        <br><br>
        <h5>3.)What can I do if someone is cheating?</h5>
        After every match you can always review your the integrity of your opponent on a star system from 1-5. 
        For serious infractions please email igor.tanv@gmail.com
        <br><br>
        <h5>4.)What are the weight classes?</h5>
          The number in each weight class represents the maximum weight limit of that weight class. 
          For example if you weight-in at 64kg then you are allowed to compete in Featherweight 
          but if you weigh-in at 64.1kg then you must compete Lightweight.
          <br><br>
        <ul>
         <li>Flyweight – 57.5 kg (126.5 lbs)</li>
         <li>Featherweight – 64 kg (141 lbs)</li>
         <li>Lightweight – 70 kg (154 lbs)</li>
         <li>Welterweight – 76 kg (167.5 lbs)</li>
         <li>Middleweight – 88.3 kg (194.5 lbs)</li>
         <li>Light-Heavyweight – 94.3 kg (207.5 lbs)</li>
         <li>Heavyweight – 100.5 kg (221.0 lbs)</li>
        </ul>
      </p>
    </div>
  </div>
  
</body>

</html>