<!DOCTYPE html>

<html>

<head>
   {{>style}}
</head>

<div style="margin:100px;">
     {{>header}}
    <div class="jumbotron"  style="padding:40px;">
      <h1>{{title}}</h1>
      <p>Go find someone to challenge</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>

</html>