<!DOCTYPE html>

<html>

<head>
  
</head>

<body>

  <div style="margin:100px;">
    <div class="jumbotron" id="about-jumbotron">
      <h1>Frequently Asked Questions:</h1>
      <p>
         <br>
        <h5>1.) How does the scoring system work?</h5>
        The scoring system is derived from a chess ranking algorithm and the amount of points you win or lose 
        is based on the level of your opponent. For more information, research the Method of Pairwise Comparisons.
        <br><br>
        <h5>2.) How accurate is the scoring system?</h5>
        Like any ranking system, the more you compete the more accurate 
        your score becomes. After 30 matches the confidence interval of your score is considered satisfactory.
        <br><br>
        <h5>3.)What can I do if someone is cheating?</h5>
        After every match you can always review your the integrity of your opponent. 
        For serious infractions contact the system administrator (provided in the match contract).
      </p>
    </div>
  </div>
  
</body>

</html>