<!DOCTYPE html>
<html>

<head>
  {{>style}}
</head>

<div style="margin:100px;">
  {{>header}}
  <div class="jumbotron" style="padding:40px;">
    <div class="row mt-5">
        <div class="card card-body">
          <h1 class="text-center mb-3"><i class="fas fa-horse-head"></i> Match Contract</h1>

          <form action="/challenge" method="POST">
            <div class="form-group">
              <label for="firstName">Oppononet First Name</label>
              <input type="name" id="firstName" name="firstName" class="form-control" placeholder={{opponent.firstName}}
                value="{{opponent.firstName}}" </div> 
            <div class="form-group">
              <label for="lastName">Opponent Last Name</label>
              <input type="name" id="lastName" name="lastName" class="form-control" placeholder={{opponent.lastName}}
                value="{{opponent.lastName}}" />
            <div class="form-group">
              <label for="rules">Match Rules</label>
              <input type="text" id="rules" name="rules" class="form-control" placeholder="Gi or NoGi"
                value="" />
            

            <button type="submit" class="btn btn-primary btn-block">
              Submit Challenge
            </button>
          </form>
        </div>
    </div>
  </div>
</div>

</html>