<html>
<head>
  {{>style}}
</head>
<body>
  <div style="margin:100px;">
     {{>header}}
    <div class="jumbotron"  style="padding:40px;">
      <h1>{{title}}</h1>
      <p>Challenge anyone to a grappling match in your area</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</body>
</html>
