<!DOCTYPE html>

<html>

<head>
  
</head>

<div style="margin:100px;">
     {{# each rankings }}
    <div class="jumbotron"  style="padding:20px;">
      
      <h3>Name: {{ this.firstName }} {{this.lastName}}</h3>
      <h3>Weight: {{ this.weight }} </h3>
      <h3>NoGi Rank: {{ this.nogi }} </h3>
      
    <br>
    </div>
    {{/each}}
  </div>

</html>