<!DOCTYPE html>

<html>

<head>
   {{>style}}
</head>

<div style="margin:100px;">
     {{>header}}
    <div class="jumbotron"  style="padding:40px;">
      <h1>{{title}}</h1>
      <p>Your Profile Has Been Registered</p>
    </div>
  </div>

</html>